:root {
  --primary: #7968ef;
  --primarylight: #f0edff;
  --orange: #f8a64c;
  --orangelight: #fef6ec;
  --green: #63de9d;
  --greenlight: #e8fcf2;
  --white: #fff;
  --black: #29313d;
  --ash: #c4c4c4;
  --sectiongap: 130px;
  --parafontsize: 18px;
  --heading: 48px;
  --subheading: 24px;
  --opensans: "Open Sans", sans-serif;
  --nunito: "Nunito", sans-serif;
  --popins: "Poppins", sans-serif;
  --semibold: 600;
  --medium: 500;
  --bold: 700;
  --regular: 400;
}
